<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ceko's Recipes</title>
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-4.4.1-dist/css/bootstrap.css">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/scripts/lib/jQuery 3.4.1.js"></script>
</head>

<body>
    <!-- BOOTSTRAPS NAVBAR -->
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="/"><i class="fas fa-utensils logo-icon logo"></i></a>
        <button id="toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i id="toggler-icon" class="fas fa-chevron-down"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <% if(!currentUser){ %>
            <a class="logo" href="/register"><i class="fas fa-user-plus"></i> Регистрация</a>
            <a class="logo" href="/login"><i class="fas fa-user"></i> Вход</a>
            <% } %>
            <% if(currentUser){ %>
            <a class="logo" href="#"><i class="fas fa-user"></i> <%= currentUser.username %></a>
            <a class="logo" href="/logout"><i class="fas fa-user-times"></i> Изход</a>
            <% } %>
        </div>
    </nav>

    <div class="container flash">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>

    <div id="container">