<%- include('partials/header.ejs') %>
<h1>Ceko's Recipes <i class="fas fa-plus"></i></h1>
<form id="form" action="/recipe" method="post">
    <input type="text" name="recipe[title]" placeholder="Title" required>
    <textarea name="recipe[ingredients]" cols="30" rows="10" placeholder="Ingredients" required></textarea>
    <textarea name="recipe[recipe]" cols="30" rows="10" placeholder="Recipe" required></textarea>
    <input type="text" name="recipe[url]" placeholder="Url">
    <input type="text" name="recipe[img]" placeholder="Img">
    <input type="submit">
</form>
<ul>
    <% recipes.forEach(recipe => { %>
    <li>
        <a class="recipe-title" href="/recipe/<%= recipe.id %>"><%= recipe.title%></a>
    </li>
    <% }) %>
</ul>
<%- include('partials/footer.ejs') %>