<%- include('partials/header.ejs') %>
<form action="/register" method="post">
    <section class="register-login-padding">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="******" required>
        <input type="submit" value="Sign Up">
    </section>
</form>
<%- include('partials/footer.ejs') %>