body {
    font-family: 'Roboto', sans-serif;
    background: #2980B9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* NAVBAR */
#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 1.2rem;
    z-index: 1;
    margin-top: 10px;
}

#navbar div{
    display: flex;
    align-items: center;
    width: 30%;
}

#nav-logs{
    justify-content: flex-end;
}

#navbar a{
    margin: 0 10px;
    text-decoration: none;
    color: #f7fbfd;
}

h1 {
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    font-weight: normal;
    font-size: 24px;
    text-transform: uppercase;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background: white;
    height: 40px;
    line-height: 40px;
    color: #666;
}

input, textarea, p {
    border: none;
    font-size: 18px;
    background: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 25px;
    box-sizing: border-box;
    color: #2980b9;
}

span {
    background: #e74c3c;
    height: 40px;
    width: 0;
    margin-right: 20px;
    text-align: center;
    color: white;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

input:focus {
    background: white;
    border: 3px solid #2980b9;
    outline: none;
}

li:nth-child(2n) {
    background: #f7f7f7;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}

.fa-plus {
    float: right;
}

#container {
    background: #f7f7f7;
    width: 360px;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

a{
    text-decoration: none;
    color: #2980b9;
}

#form{
    display: none;
}

#delete-form{
    display: inline;
}

hr{
    margin: 0;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

ul + article{
    margin-top: 20px;
}
article{
    padding: 10px;
}

.float-right{
    float: right;
}

.recipe-title{
    padding: 5px;
    padding-left: 10px;
}
img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    width: 100%;
}
.white-space{
    white-space: pre-line;
}
.edit-home-btn{
    text-align: end;
    padding: 5px;
}
.register-login-padding{
    padding: 15px;
}
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
.container{
      width: 80%;
      margin: 0 auto;
  }
.flash{
    width: 300px;
    text-align: center;
}

.logo{
    border-radius: 10px;
    padding: 8.5px 15px;
    text-decoration: none;
    cursor: pointer;
    outline-style: none;
}

.logo:hover{
    box-shadow: 0 0 15px #2980b9;
}
.logo-buttons{
    border-radius: 10px;
    padding: 8.5px 15px;
    text-decoration: none;
    cursor: pointer;
    outline-style: none;
}

.logo-buttons:hover{
    box-shadow: 0 0 15px white;
}
.logo-icon{
    color: #2980b9;
    font-size: 2em;
}
@media only screen and (max-width: 1200px) {
    img{position: static;
        width: 360px;
        margin-bottom: -4px;
    }
  }
