.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding-inline: 1rem;
}

.background {
  background-color: var(--main-accent-color);
}

.list {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.list li {
  transition: all 0.3s;
  padding: 1.2rem 0.5rem;
  cursor: pointer;
}
.list li:hover {
  background: #bde4ff52;
}

.icon {
  margin-inline: 0.4rem;
}

.logo {
  max-width: 5.1rem;
  cursor: pointer;
}
