.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding-inline: 1rem;
}

ul {
  display: flex;
  gap: 1rem;
  padding: 0;
}

.navItems {
  text-decoration: none;
  color: inherit;
}
