.footer {
  margin-top: auto;
  min-height: 4rem;
  background: var(--main-accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding-block: 2rem;
}

.logo {
  max-width: 12vw;
  cursor: pointer;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.socialMedia a {
  color: white;
}

.icon {
  margin-inline: 0.6rem;
  font-size: 1.5rem;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 100%;
}

.icon:hover {
  transform: scale(1.5);
  background-color: white;
  color: var(--main-accent-color);
}

.scrollToTop {
  position: fixed;
  border: none;
  color: var(--main-accent-color);
  right: 1rem;
  background: #e9f6ff;
  animation: bounce 2s ease 3;
  bottom: 3vw;
  bottom: min(1.5rem, 10vw);
  bottom: clamp(50px, 20vw, 300px);
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media (max-width: 668px) {
  .logo {
    display: none;
  }
}

.icon {
  margin-inline: 0.4rem;
}

.logo {
  max-width: 3.5rem;
  max-height: 3.5rem;
  cursor: pointer;
  fill: white;
  border-radius: 5px;
  transition: all 0.2s;
}

.logo:hover {
  fill: #222;
  background: white;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 0.2s;
  cursor: pointer;
  margin-right: 1rem;
}

.logoContainer span {
  font-family: "Lobster", cursive;
  letter-spacing: 0.2rem;
  line-height: 1rem;
}
